@(email: String)

@main("OuchMyHead") {
    <div id="main">
        <h1>james mathieson</h1>
        <ul id="more" class="icomoon">
            <li id="linkedin" >
                <a href="http://www.linkedin.com/pub/james-mathieson/2a/42/bb9" target="_blank">linkedin</a>
            </li>
            <li id="stackoverflow">
                <a href="http://careers.stackoverflow.com/ouchmyhead" target="_blank">careers2.0</a>
            </li>
            <li id="profile">
                <img src="/assets/images/james.mathieson.jpg" alt="a shameless self promoting picture" />
            </li>
            <li id="twitter">
                <a href="https://twitter.com/OuchMyHead" target="_blank" >twitter</a>
            </li>
            <li id="email">
                <a href="mailto:@email" target="_blank" >email</a>
            </li>
        </ul>
        <ul id="about">
            <li>software developer</li>
            <li>stockholm, sweden</li>
        </ul>
    </div>
}